div{
    padding-left: 2%;
    height: 400px;
    width: 400px;
    border: 2px solid #36366B;
    background-color: #EAA200;
    border-radius: 2%;
}

.centered{
    text-align: center;
}

.downsize{
    font-size: smaller;
    opacity: 80%;
}

a{
    color: #0200EB;
    font-family: "Roboto";
}

p{
    font-family: "Roboto";
}

h1{
    color: #36366B;
    font-family: "Lobster";
    margin-bottom: 2%;
    text-align: center;
}

[type=text]{
    width: 90%;
    margin-bottom: 5%;
    background-color: grey;
    border-color: #36366B;
}

[type=checkbox]{
    color: grey;
}

[type=button]{
    width: 90%;
    height: 15%;
    font-family: "Roboto";
    border-radius: 2%;
    margin-bottom: 4%;
}

[placeholder]{
    background-color: white;
}